
<header class="bg"> 
    <nav class="navbar navbar-expand-lg  rounded">        
        <div class="container">

            <div class="navbar-header pull-left">
                <a class="navbar-brand">Creaming</a>   
            </div>  

            <div class="pull-right" >
                <span>
                    <button *ngIf="cartCount==0" class="checkout" (click)="openDialog('5ms', '5ms')" type="button">
                    <i class="bi bi-basket3"></i>
                    </button>
                    <button *ngIf="cartCount>0" class="checkout" (click)="openDialog('5ms', '5ms')" type="button">
                        <span class="counter">{{cartCount}}</span><i class="bi bi-basket3-fill"></i>
                     </button>
                </span>
                <span>
                    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
                    [attr.aria-expanded]="!isCollapsed"  aria-controls="nav-menu" >
                    <span class="navbar-toggler-icon"></span>
                     </button>    
                </span>           
            </div>
            
        
            <div class="container-fluid" >       
                    
                    <div class="collapse navbar-collapse" id="nav-menu" [ngbCollapse]="isCollapsed" id="nav_center">
                        
                        <ul class="navbar-nav col-lg-6 justify-content-lg-center">
                        <li class="nav-item "><a class="nav-link" routerLink="/home">Home</a></li>
                        <li class="nav-item"><a class="nav-link" (click)="openoffer('100ms', '100ms')">Offer</a></li>
                        <li class="nav-item"><a class="nav-link" routerLink="/menu">Menu</a></li>
                        <li class="nav-item"><a class="nav-link" (click)="openaboutus('100ms', '100ms')">About Us</a></li>
                        </ul>       
                                
                    </div>   
                             
            </div>       
            
        </div>        
    </nav>    
</header>

