<app-header></app-header>
<div class="container-fluid" >
    <div class="row" id="banner">
        <div class="col-md-6">
            <img src="assets\images\all-items.png" class="img-fluid home-pic">
        </div>
        <div class="col-md-6" id="banner-text">
            <p>We offer wide <br>range of pastries</p>
            <div><button type="button" class="btn buy" routerLink="/menu"><i class="bi bi-basket2-fill"></i><span>Buy now!</span></button></div>
        </div>        
    </div>     
    <div id="itemhigh">
        <div class="row">
            <div class="col-3 pd">
                <img src="assets\images\donut.png" class="img-fluid" >
                <p id="item">DONUTS</p>
            </div>
            
            <div class="col-3 pd">
                <img src="assets\images\cookie.png" class="img-fluid" >
                <p id="item">COOKIES</p>
            </div>
            <div class="col-3 pd">
                <img src="assets\images\cake.png" class="img-fluid" >
                <p id="item">CAKES</p>
            </div>
            <div class="col-3 pd">
                <img src="assets\images\bread.png" class="img-fluid">
                <p id="item">BREADS</p>
            </div>
        </div>                
    </div>           
</div>
<div id="about">
    <div class="row">
        <div class="col-md-6 text-center mx-auto">
            <img src="assets\images\main.png" class="img-fluid">
        </div>
        <div class="col-md-6 sml-0">
            <h1>About <br>
            Creaming Bakery</h1>
            <p> Creaming Bakery established its first location at the heart of Chennai. From its inception, Creaming Bakery has been cherished for its class french baked goods, vintage decor and arm, inviting atmosphere. Learn more about the history of Creaming Bakery.</p>
        </div>
    </div>
</div> 

<div class="row" id="hsitems">
    <h2>Hot Selling Items</h2>
    <div class="card-deck col-md-3">
        <div class="card">
            <img class="card-img-top" src="assets\images\donut.png" alt="Card image cap">
            <div class="card-body text-center">
                <h5 class="card-title ">DONUT</h5>
                <h5 class="card-text ">₹30</h5>
                <button type="button" class="btn buy" routerLink="/menu"><i class="bi bi-basket2-fill"></i><span>Add to basket</span></button>
            </div>
            <div class="card-footer text-center ">
                <div >
                    <i class="bi bi-star-fill ratings"></i>
                    <i class="bi bi-star-fill ratings"></i>
                    <i class="bi bi-star-fill ratings"></i>
                    <i class="bi bi-star-fill ratings"></i>
                    <i class="bi bi-star-half ratings"></i>
                </div>                
                
            </div>
        </div>
    </div>
    <div class="card-deck col-md-3 ">
        <div class="card">
            <img class="card-img-top" src="assets\images\donut.png" alt="Card image cap">
            <div class="card-body text-center">
                <h5 class="card-title ">DONUT</h5>
                <h5 class="card-text ">₹30</h5>
                <button type="button" class="btn buy" routerLink="/menu"><i class="bi bi-basket2-fill"></i><span>Add to basket</span></button>
            </div>
            <div class="card-footer text-center ">
                <div >
                    <i class="bi bi-star-fill ratings"></i>
                    <i class="bi bi-star-fill ratings"></i>
                    <i class="bi bi-star-fill ratings"></i>
                    <i class="bi bi-star-fill ratings"></i>
                    <i class="bi bi-star-half ratings"></i>
                </div>                
                
            </div>
        </div>
    </div>
    <div class="card-deck col-md-3 ">
        <div class="card">
            <img class="card-img-top" src="assets\images\donut.png" alt="Card image cap">
            <div class="card-body text-center">
                <h5 class="card-title ">DONUT</h5>
                <h5 class="card-text ">₹30</h5>
                <button type="button" class="btn buy" routerLink="/menu"><i class="bi bi-basket2-fill"></i><span>Add to basket</span></button>
            </div>
            <div class="card-footer text-center ">
                <div >
                    <i class="bi bi-star-fill ratings"></i>
                    <i class="bi bi-star-fill ratings"></i>
                    <i class="bi bi-star-fill ratings"></i>
                    <i class="bi bi-star-fill ratings"></i>
                    <i class="bi bi-star-half ratings"></i>
                </div>                
                
            </div>
        </div>
    </div>
    <div class="card-deck col-md-3 ">
        <div class="card">
            <img class="card-img-top" src="assets\images\donut.png" alt="Card image cap">
            <div class="card-body text-center">
                <h5 class="card-title ">DONUT</h5>
                <h5 class="card-text ">₹30</h5>
                <button type="button" class="btn buy" routerLink="/menu"><i class="bi bi-basket2-fill"></i><span>Add to basket</span></button>
            </div>
            <div class="card-footer text-center ">
                <div >
                    <i class="bi bi-star-fill ratings"></i>
                    <i class="bi bi-star-fill ratings"></i>
                    <i class="bi bi-star-fill ratings"></i>
                    <i class="bi bi-star-fill ratings"></i>
                    <i class="bi bi-star-half ratings"></i>
                </div>            
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>